body {
  background: #fafafa;
  font-family: 'Libre Baskerville';
  font-size: 1rem;
  color: #222;
  p {
    line-height: 1.9;
  }
  h1 {
    font-family: 'Montserrat';
    font-size:1.8rem;
    text-transform: uppercase;
  }
  h2 {
    font-family: 'Montserrat';
    font-size:2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 60px auto;
    font-weight: bold;
    color: #f8c7ca;
}
}

.full{
max-width: 120rem;
}

.hero {
  background: url('../img/placeholder.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:905px;
 }

 .intro {
/*/ small /*/
@media screen and (max-width: 39.9375em) {
      padding-top:100px
    }
/*/ medium and up /*/
  @media screen and (min-width: 39.94em) {
     padding-top: 230px;
   }
}


 #sticky-navigation {
   padding: 50px auto;
   display:block;
       a {
      font-family: 'Montserrat';
      font-size: 1.1rem;
      color: #333;
      text-transform: uppercase;
      margin: 20px;
      text-align: center;
      display: block;
      &:hover { color:#555; }
   }
 }

 #sticky-navigation {
   padding: 50px auto;
   display:block;
 }

 #logo {
   display: block;
   width: 200px;
   height: 70px;
   margin: 55px auto;
 }


#work {
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: #fff;
}

#contact{
margin-bottom:60px;
  a {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2rem;
  color: #222;
  border-bottom: solid #222 1px;
  transition: all 0.2s linear;
  &:hover { color:#777; }
  }
}

.skills {
  margin: 60px auto 50px auto;
    p{ width: 70%; }
}

.fi-brush, .fi-pencil {
   &.iconic-lg {
     &:before {
       font-size: 40px;
     }
   }
}

.thumbnail {
  border: none;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s linear;
     &:hover { opacity: 0.6 }
}
