body {
  background: #eee;
  font-family: 'Libre Baskerville';
  font-size: 1rem;
  color: #222;
  p {
    line-height: 1.9;
  }
  h1 {
    font-family: 'Montserrat';
    font-size:1.8rem;
    text-transform: uppercase;
  }
}

.hero {
  background: url('../img/placeholder.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:905px;
 }

 #sticky-navigation {
   padding: 50px auto;
   display:block;
       a {
      font-family: 'Montserrat';
      font-size: 1.1rem;
      color: #333;
      text-transform: uppercase;
      margin: 20px auto;
      text-align: center;
      display: block;
      &:hover { color:#555; }
   }
 }

 #sticky-navigation {
   padding: 50px auto;
   display:block;
 }

 #logo {
   display: block;
   width: 200px;
   height: 70px;
   margin: 55px auto;
 }

 .intro {
/*/ small /*/
@media screen and (max-width: 39.9375em) {
      padding-top:100px
    }
/*/ medium and up /*/
  @media screen and (min-width: 39.94em) {
     padding-top: 200px;
   }
}

.skills {
  margin: 60px auto 20px auto;
    p{ width: 70%; }
}

.fi-brush, .fi-pencil {
   &.iconic-lg {
     &:before {
       font-size: 40px;
     }
   }
}
